@mixin transition {
  -webkit-transition: all .25s ease;
  -moz-transition: all .25S ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

@mixin poppins {
  font-family: 'Poppins', sans-serif !important;
}

@mixin sintony {
  font-family: 'Sintony', sans-serif !important;
}

@mixin regular {
  font-family: BrandonTextWeb-Regular !important;
}

@mixin bold {
  font-family: BrandonTextWeb-Bold !important;
}

@mixin shadow_dark {
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
  box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.25);
}